.labeldark{
    background: rgb(71, 66, 165);
background: linear-gradient(90deg, rgb(36, 28, 184) 0%, rgba(5,93,177,1) 49%, rgba(0,104,255,0.8323704481792717) 82%);
 border: solid rgb(14, 14, 34) 2px;
}
